* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body, html {    
    height: 100%;
}

.container-login {        
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;    
    background: whitesmoke;
    background-image: url('background-img.webp');
    background-size: cover;
}

.wrap-login100 {
    width: 350px;
    height: 430px;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    padding: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.login100-form {
    width: 100%
}

.login-head {
    padding: 5px;
    text-align:center;
}


@media(max-width:576px) {
    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px
    }
}
